In [1]:
import io
import os
import numpy as np
import pandas as pd

In [2]:
!pwd

/root/autodl-tmp/SNP

In [3]:
files = os.listdir("processed/")
files, len(files)

(['ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr10_filtered.recode.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr13_filtered.recode.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr11_filtered.recode.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr12_filtered.recode.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr14_filtered.recode.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr15_filtered.recode.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr16_filtered.recode.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr17_filtered.recode.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr18_filtered.recode.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr19_filtered.recode.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr2_filtered.recode.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr20_filtered.recode.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr21_filtered.recode.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr3_filtered.recode.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr4_filtered.recode.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr5_filtered.recode.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr6_filtered.recode.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr7_filtered.recode.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr8_filtered.recode.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr9_filtered.recode.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr1_filtered.recode.pkl'],
 21)

In [4]:
diag = pd.read_csv("../diagnosis/diagnosis_full.csv")[["Subject", "Group", "Phase"]]
diag = diag[diag["Phase"].isin(["ADNI1", "ADNI2", "ADNIGO"])]
diag = diag.dropna(subset=["Group"])
print("Number of unique subjects:", len(np.unique(diag["Subject"])))
diag = diag.drop_duplicates(subset=["Subject", "Group"]).reset_index(drop=True)[["Subject", "Group"]]

diag

Number of unique subjects: 1946

         Subject  Group
0     011_S_0002    0.0
1     011_S_0003    2.0
2     011_S_0005    0.0
3     011_S_0008    0.0
4     022_S_0007    2.0
...          ...    ...
1941  098_S_5286    1.0
1942  082_S_5184    2.0
1943  035_S_4786    1.0
1944  027_S_4757    2.0
1945  003_S_4839    0.0

[1946 rows x 2 columns]

In [5]:
file_name = "processed/ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr13_filtered.recode.pkl"
vcf = pd.read_pickle(file_name)

vcf

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,003_S_1057,...,137_S_4672,019_S_4549,018_S_4696,126_S_4686,130_S_4660,023_S_4501,070_S_4692,005_S_4707,003_S_4350,141_S_4232\n
36706,13,28525362,rs79033136,A,G,689831.0,PASS,.,GT:AD:DP:GQ:PL,"1/1:0,40:40:99:1378,120,0",...,"0/1:20,14:34:99:382,0,579","1/1:0,36:36:99:1156,107,0","1/1:0,19:19:57:659,57,0","1/1:0,28:28:83:908,83,0","0/1:13,15:28:99:447,0,356","1/1:0,26:26:78:915,78,0","1/1:0,31:31:93:1029,93,0","1/1:0,40:40:99:1386,120,0","1/1:0,24:24:71:774,71,0","1/1:0,51:51:99:1701,152,0"
36707,13,28525661,rs150886098,C,T,10435.5,PASS,.,GT:AD:DP:GQ:PL,"0/0:37,0:37:78:0,78,1271",...,"0/0:30,0:30:63:0,63,945","0/0:35,0:35:66:0,66,990","./.:16,0:16:20:0,20,549","0/0:27,0:27:60:0,60,900","0/0:27,0:27:60:0,60,900","0/0:28,0:28:63:0,63,945","0/0:28,0:28:60:0,60,900","0/0:29,0:29:66:0,66,990","0/0:30,0:30:63:0,63,945","0/0:37,0:37:63:0,63,1196"
36708,13,28525668,rs78388804,T,C,18030.1,PASS,.,GT:AD:DP:GQ:PL,"1/1:1,36:37:77:1202,77,0",...,"0/0:30,0:30:63:0,63,945","0/0:35,0:35:66:0,66,990","./.:16,0:16:20:0,20,549","0/0:27,0:27:60:0,60,900","0/0:27,0:27:60:0,60,900","0/0:28,0:28:63:0,63,945","0/0:28,0:28:60:0,60,900","0/0:29,0:29:66:0,66,990","0/0:30,0:30:63:0,63,945","0/0:37,0:37:63:0,63,1196"
36709,13,28526267,rs9319406,G,C,283242.0,PASS,.,GT:AD:DP:GQ:PL,"0/0:29,0:29:63:0,63,945",...,"0/0:25,0:25:69:0,69,914","0/0:23,0:23:60:0,60,805","0/0:26,0:26:63:0,63,945","0/1:21,28:49:99:825,0,591","0/0:28,0:28:63:0,63,1126","0/1:20,18:38:99:499,0,592","0/1:18,17:35:99:503,0,533","0/0:26,0:26:69:0,69,856","0/0:23,0:23:61:0,61,837","0/1:21,26:47:99:768,0,595"
36710,13,28526975,rs9285356,G,C,1004300.0,PASS,.,GT:AD:DP:GQ:PL,"0/1:35,22:57:99:572,0,1065",...,"0/1:18,23:41:99:677,0,504","1/1:0,63:63:99:2222,189,0","1/1:0,42:42:99:1505,126,0","1/1:0,41:41:99:1400,122,0","0/1:16,28:44:99:833,0,433","1/1:0,37:37:99:1323,111,0","1/1:0,48:48:99:1668,144,0","1/1:0,57:57:99:2028,171,0","1/1:0,49:49:99:1697,147,0","1/1:0,60:60:99:2142,180,0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173555,13,73660544,rs139348813,C,T,22006.9,PASS,.,GT:AD:DP:GQ:PL,"0/0:32,0:32:77:0,77,991",...,"0/0:28,0:28:66:0,66,976","0/0:25,0:25:63:0,63,796","0/0:24,0:24:66:0,66,896","0/1:23,10:33:99:256,0,708","0/0:29,0:29:78:0,78,1170","0/0:24,0:24:60:0,60,900","0/0:24,0:24:60:0,60,871","0/0:32,0:32:66:0,66,990","0/0:27,0:27:75:0,75,928","0/0:34,0:34:60:0,60,900"
173556,13,73660569,rs2503698,T,C,123271.0,PASS,.,GT:AD:DP:GQ:PL,"0/0:32,0:32:77:0,77,991",...,"0/0:28,0:28:66:0,66,976","0/0:25,0:25:63:0,63,796","0/0:16,0:16:40:0,40,550","0/0:27,0:27:63:0,63,866","0/1:18,25:43:99:678,0,494","0/0:24,0:24:60:0,60,900","0/0:24,0:24:60:0,60,871","0/0:32,0:32:66:0,66,990","0/1:19,18:37:99:456,0,562","0/0:34,0:34:60:0,60,900"
173557,13,73660834,rs117161903,T,A,17412.1,PASS,.,GT:AD:DP:GQ:PL,"0/0:32,0:32:77:0,77,991",...,"0/0:28,0:28:66:0,66,976","0/0:25,0:25:63:0,63,796","0/0:24,0:24:61:0,61,708","0/0:27,0:27:63:0,63,866","0/0:26,0:26:63:0,63,865","0/0:24,0:24:66:0,66,912","0/0:25,0:25:61:0,61,803","0/0:32,0:32:66:0,66,990","0/0:34,0:34:81:0,81,1132","0/0:34,0:34:60:0,60,900"
173558,13,73660982,rs9564944,G,A,110084.0,PASS,.,GT:AD:DP:GQ:PL,"0/0:32,0:32:77:0,77,991",...,"0/0:28,0:28:66:0,66,976","0/0:25,0:25:63:0,63,796","0/0:24,0:24:61:0,61,708","0/0:27,0:27:63:0,63,866","0/0:26,0:26:63:0,63,865","0/0:24,0:24:66:0,66,912","0/0:25,0:25:61:0,61,803","0/0:32,0:32:66:0,66,990","0/1:20,23:43:99:679,0,563","0/0:34,0:34:60:0,60,900"
173559,13,73661627,rs116916174,G,A,70451.2,PASS,.,GT:AD:DP:GQ:PL,"0/0:32,0:32:77:0,77,991",...,"0/0:28,0:28:66:0,66,976","0/0:25,0:25:63:0,63,796","0/0:26,0:26:64:0,64,834","0/0:27,0:27:63:0,63,866","0/0:26,0:26:63:0,63,865","0/0:24,0:24:66:0,66,912","0/0:25,0:25:61:0,61,803","0/0:32,0:32:66:0,66,990","0/0:31,0:31:66:0,66,990","0/0:34,0:34:60:0,60,900"

In [ ]:
vcfs = []
for vcf_file in files:
    # Get the chrom
    start = vcf_file.find("ADNI_ID.") + len("ADNI_ID.")
    end = vcf_file.find("_filtered")
    chrom = vcf_file[start:end]
    
    file_name = "processed/" + vcf_file
    print("Processing " + chrom)
    vcf = pd.read_pickle(file_name)
    
    vcf = vcf.drop(['#CHROM', 'POS', 'ID','REF','ALT','QUAL','FILTER','INFO','FORMAT'], axis=1)
    vcf = vcf.T
    vcf.reset_index(level=0, inplace=True)
    vcf["index"] = vcf["index"].str.replace("s", "S").str.replace("\n", "")
    vcf = vcf.rename(columns={"index": "Subject"})
    print("Number of unique subjects in vcf file:", len(np.unique(vcf["Subject"])))
    
    merged = diag.merge(vcf, on = "Subject")
    print("Number of unique subjects after merging with diagnosis:", len(np.unique(merged["Subject"])))
    
    d = {'0/0': 0, '0/1': 1, '1/0': 1,  '1/1': 2, "./.": 3}
    cols = list(set(merged.columns) - set(["Subject", "Group"]))
    for col in cols:
        merged[col] = merged[col].str[:3].replace(d)
        idx = cols.index(col)
        if idx % 500 == 0:
            output_file = open(chrom + '_log_clean.txt','a')
            output_file.write("Percent done: " + str((idx/len(cols))*100) + "\n")
            output_file.close()
    
    merged.to_pickle(vcf_file[:-11] + "_clean.pkl")
    # vcf = vcf.groupby('Subject', group_keys=False).apply(lambda x: x.loc[x.Group.idxmax()])
    vcfs.append(vcf)

In [3]:
files = os.listdir(".")
files = [file for file in files if file.endswith("_clean.pkl")]

files, len(files)

(['ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr10_filtered_clean.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr12_filtered_clean.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr14_filtered_clean.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr17_filtered_clean.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr18_filtered_clean.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr20_filtered_clean.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr21_filtered_clean.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr4_filtered_clean.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr5_filtered_clean.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr6_filtered_clean.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr8_filtered_clean.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr9_filtered_clean.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr13_filtered_clean.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr11_filtered_clean.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr15_filtered_clean.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr16_filtered_clean.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr19_filtered_clean.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr2_filtered_clean.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr3_filtered_clean.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr7_filtered_clean.pkl',
  'ADNI.808_indiv.minGQ_21.pass.ADNI_ID.chr1_filtered_clean.pkl'],
 21)

In [4]:
vcfs = []
for vcf_file in files:
    file_name = vcf_file
    vcf = pd.read_pickle(file_name)
    vcfs.append(vcf)
len(vcfs)

21

In [5]:
vcfs[0]

,Subject,Group,12116,12117,12118,12119,12120,12121,12122,12123,...,418010,418011,418012,418013,418014,418015,418016,418017,418018,418019
0,011_S_0002,0.0,1,0,0,1,1,1,1,1,...,0,0,0,0,0,0,2,0,1,0
1,011_S_0008,0.0,1,0,0,1,1,1,1,1,...,0,0,0,0,0,0,2,0,0,0
2,100_S_0015,0.0,1,0,0,1,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
3,023_S_0031,0.0,1,0,0,1,1,1,1,1,...,0,0,0,0,0,0,2,0,1,0
4,011_S_0021,0.0,0,1,0,1,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774,072_S_4610,1.0,1,1,0,2,1,1,1,2,...,0,0,0,0,0,0,2,0,0,0
775,072_S_4613,1.0,2,0,0,2,2,2,2,2,...,0,0,0,0,0,0,2,0,1,0
776,153_S_4621,1.0,0,1,0,1,0,0,0,1,...,0,0,0,0,0,0,2,0,0,0
777,005_S_4707,2.0,1,0,0,1,1,1,1,1,...,0,0,0,0,1,0,2,0,0,0
778,002_S_4171,2.0,0,1,0,1,0,0,0,1,...,0,0,0,0,0,0,2,3,0,0

In [6]:
for i in range(len(vcfs)):
    vcfs[i] = vcfs[i].set_index(["Subject", "Group"])
    
vcf_merged = pd.concat(vcfs, axis=1)
vcf_merged = vcf_merged.reset_index()
vcf_merged.columns = [
    f"{col}_{i}" if col in vcf_merged.columns[:i] else col
    for i, col in enumerate(vcf_merged.columns)
]

In [7]:
vcf_merged.shape[1], len(vcf_merged.columns.unique())

(179668, 179668)

In [9]:
vcf_merged.shape

(779, 179668)

In [8]:
vcf_merged.to_pickle("all_vcfs.pkl")